.btn-group .btn {
  background-color: #87a3d1;
}
.inputGroup {
  margin-bottom: 40px;
}

.information {
  .card-header {
    background-color: #d7e0ef;
    color: #6488c1;
  }
  .cityName {
    text-align: center;
  }
  .cityData {
    text-align: center;
  }
  .cityData p {
    color: forestgreen;
  }
}
.history {
  .card-header {
    background-color: #d7e0ef;
    color: #6488c1;
  }
  td:last-child {
    text-align: right;
  }
  tr:nth-child(odd) {
    background-color: #F0F3F7;
  }
}
