// Background: #577A85
// DarkerGreen: #678690
// Purple: #A197FF
// LightGrey: #CFD4D8
// DarkGrey: #999EA0
// White: #FEFEFE

// Background #304860
// White: #FEFEFE
// Yellow #F9DB62
// Grey 1 #A2ACB6
// Blue Grey #53636b
// Grey 3 #677889
// Olive #AFA461
// Grey 2 #77858B




body {
  background-color: #304860;
  -webkit-font-smoothing: antialiased;
  
}
.border {
  border: 2px solid red !important;
}

.header {
  font-family: oxygen;
  display: flex;
  flex-direction: column;
  color: #FEFEFE;
  justify-content: center;
  height: 100vh;

  .title {
    align-self: center;
    margin-bottom: 50px;
    font-size: 75px;
  }
  .input {
    width: 70%;
    align-self: center;
    text-align: center;
    height: 12%;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 300;
    color: #50636C;
    background-color: #CFD4D8;
    box-shadow: 0px 7px 1px -1px #213344;
  }
  .borderTrans {
    border: none;
  }
  .borderRed {
    border: 2px solid red;
  }
  .chevron {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
  
.input:focus {
  outline: none;
}
.input:focus::-webkit-input-placeholder { 
  color: transparent; 
}

.row {
  margin-bottom: 50px;
}
.hidden {
  display: none;
}
.infoCard {
  width: 100%;
  background-color: #CFD4D8;
  font-family: Lato;

  .infoDate {
    padding: 40px;
  }

  .image {
    position: absolute;
    max-width: 100%;
    margin: auto;
    height: 100%;
    object-fit: cover;
    right: 0;
  }

  .displayTemp {
    font-size: 70px;
    display: flex;
    padding: 0 0 40px 30px;
  }

  .fiveDayForecast {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
  }

  .col-4 {
    // padding: 0px;
  }
}
